*{
	font-family: 'Rationale', sans-serif;
	padding: 0;
	margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

h1, h2, h3 {
	color: white;
	text-align: center;
	text-shadow: 2px 2px black;
}

h1 {
	font-size: 500%;
}

h2 {
	font-size: 300%;
}

h3 {
	font-size: 300%;
}

.backdropImgLanding {
	background: url("belltower.jpeg");
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.backdropImgLanding {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.centeringContainer {
	height: 100%;
	display: flex;
	align-items: center;
}

#nameSpan {
	font-size: 400%;
	color: white;
	background: #333333;
	padding: 10px 35px;
}
